.audio-visualizer-container {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 200px;
  z-index: 100;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.audio-visualizer-canvas {
  width: 100%;
  height: 100%;
  display: block;
}
